/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.p-fixed{
  position: fixed;
  width: 100%;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position:absolute
}
.d-flex{
  display: flex;
}
.f-wrap{
  flex-wrap: wrap;
}
.s-between{
  justify-content: space-between;
}
.j-center{
  justify-content: center;
}
.container{
  width: 90%;
  margin: 0 auto;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.c-white{
  color: white;
}
/* header */
.top{
  z-index: 3;
  box-shadow: 0px 0px 10px #FF6900;
}
header .topbar {
  height: 50px;
  background-color: #FF6900;

}
header .topbar .container{
  align-items: center;
  height: 100%;
}
.menu li{
  min-width: 70px ;
}
.menu{
  width: 180px;
}
.submenu{
  width: 180px;
  justify-content: flex-end;
}
.options {
  width: 60px;
}
.container.logo{
  width: 100px;
}
.container .logo .img{
  width: 100%;
  height: 30px;
}
/* main */
main .container{
  padding: 60px 0px 0px;
  justify-content: center;
  margin-bottom: 20px;
}
.content{
  width: 100%;
  align-items: center;
}
.card{
  width: 30%;
  min-width: 300px;
  background-color: white;
  margin: 10px;
}
.image img{
width: 100%;
}

.description{
  background-color: white;
}
.upper{
  z-index: 1;
  right: 0;
  top: 0;
  display: none;
}
.card :hover .upper{
  display: block;
  cursor: pointer;
}
.like :hover{
  color: red;
}
.description .tag { 
  display: block;
  padding: 2px;
}
.brand , 
.price{
  font-size: .9rem;
  text-transform: capitalize;
}
.name{
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.price{
  font-weight: bold;
}
.red{
  color:red;
}
.line{
  text-decoration: line-through;
}
.like{
  top: 10px;
  right: 0px;
  z-index: 2;
}
.like .heart{
  padding: 3px 5px;
  background-color: white;
  font-size: 1.3rem;
}
.caracteristicas{
  left: 0px;
  bottom: 10px;
  font-size: .9rem;
  color: white;
  z-index: 2;
}
.caracteristicas .sconto{
  background-color: red;
  margin-right: 1px;
  padding: 3px 5px;
}
.caracteristicas .sostenibile{
  background-color: green;
  padding: 3px 5px;
}

/* footer */
footer{
  background-color: #1A1A1A;
}
footer .container{
  width: 90%;
  height: 100px;
  color: white;
  align-items: center;
}
footer .container span{
  display: block;
  font-size: 1.5rem;
}
.legal{
  min-width: 430px;
}
.social ul{
  width: 100px ;
}
